@import '~/assets/scss/variables.scss';
@import '~/assets/scss/mixin.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: $font-black;
  background-color: $background-color;
  font-family: $pretendard, sans-serif;
}

.darkMode {
  background-color: #121212;
  color: $font-white;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

input {
  &:focus {
    outline: none;
  }
}

::selection {
  background-color: hotpink;
  color: white;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}