@mixin button-primary {
	padding: rem(15);
	border-radius: rem(10);
	margin-top: rem(20);
	box-shadow:
		rgba(0, 0, 0, 0.16) 0px 3px 6px,
		rgba(0, 0, 0, 0.23) 0px 3px 6px;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.5s ease;
	position: relative;
	z-index: 1;
	background-color: transparent;
	font-weight: 600;

	&:hover::before {
		transform: scaleX(1);
	}

	&:hover {
		color: $font-white;
	}

	&:active {
		transform: scale(0.95);
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
		background-color: rgb(252, 70, 100);
		transform: scaleX(0);
		transform-origin: 0;
		transition: transform 0.5s ease;
		z-index: -1;
	}
}

@mixin box-shadow-animation($color) {
	transform: translate(-3px, -3px);
	box-shadow:
		3px 3px $color,
		5px 5px 20px rgba($color: #333, $alpha: 0.17);
}

@mixin sub-post-title {
	font-weight: 600;
	font-size: rem(24);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	color: $font-black;
	font-family: $pretendard;

	&:hover {
		text-shadow: 1.3px 1.3px 1px #999;
	}
}

@mixin post-bottom {
	display: flex;
	align-items: center;
	margin-top: rem(20);
}

@mixin post-category-darkmode {
	border: 2px solid $font-white !important;
	color: $font-white !important;
}

@mixin post-category {
	font-family: $pretendard;
	font-size: rem(14);
	font-weight: 600;
	text-align: center;
	min-width: rem(60);
	background-color: transparent;
	padding: rem(4) rem(6);
	border-radius: rem(15);
	border: 2px solid $font-black;
}

@mixin post-day {
	font-size: rem(13);
	color: $font-black;
	margin-left: auto;
}

@mixin basic-input {
	max-width: rem(150);
	border: none;
	border-bottom: 1px solid #555;
	height: rem(23);
	transition: all 0.3s ease-in-out;
	font-family: $sans;
	padding-left: rem(2);

	&:focus::placeholder {
		opacity: 0;
	}

	&::placeholder {
		font-family: $pretendard;
		font-size: 1.3rem;
		font-weight: 600;
		transition: all 0.3s ease-in-out;
	}
}

@mixin post-text($line) {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	line-height: rem(28);
	margin-top: rem(14);
	color: $font-black;
	font-weight: 400;
	cursor: pointer;
}
