@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

// color
$background-color: #fdfcf7;
$darkmode-point-color: #f9f871;
$font-black: #1d1c28;
$font-white: #fffdf6;
$light-black: #999;
$silver-black: #777;
$dim-black: #555;
$dark-gray: #bdbdbd;
$dim-gray: #ddd;
$silver-gray: #eee;
$light-gray: #f5f5f5;
$gray-0: #f8f9fa;
$gray-1: #f1f3f5;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #868e96;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;

// fonts
$pretendard: 'Wanted Sans Variable';
$sans: 'Raleway';

//function
@function rem($px) {
	@return #{calc($px / 16)}rem;
}
